table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 20px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 0;
}

table tr {
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  text-align: center;
  background-color: #4caf50;
  color: white;
}

tbody td {
  padding: 12px 5px;
}

tbody td span {
  display: flex;
  align-content: center;
}

.column-header-name {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.column-header-name span {
  opacity: 0;
}

.column-header-name:hover > span {
  opacity: 1;
}

.cant-group-header {
  padding: 10px;
}

.delete-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
}

.delete-modal button {
  padding: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.delete-modal h1 {
  text-align: center;
  padding: 0 10px;
}

.full-page-table {
  display: block;
}
.split-page-table {
  display: grid;
  -webkit-animation: 0.2s curtain cubic-bezier(0.86, 0, 0.07, 1) 0.2s both;
  animation: 0.2s curtain cubic-bezier(0.86, 0, 0.07, 1) 0.2s both;
  grid-template-columns: 65% 35%;
}

.side-column {
  padding: 10px;
  background-color: grey;
}

.side-column li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid blanchedalmond;
}

.side-column-footer {
  display: flex;
  justify-content: center;
}

.side-column-footer > button {
  margin-right: 20px;
}

.side-column-footer button {
  padding: 10px;
  font-weight: 550;
}

@keyframes curtain {
  0% {
    grid-gap: 100%;
  }

  100% {
    grid-gap: 0;
  }
}
