#modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale-up-center 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  z-index: 20000;
}
/* position: fixed; height: auto; width: 75%; top: 54.0219px; left: 122.883px; */

#modal:empty {
  display: none;
}

#modal > div {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  width: 75%;
  max-width: 600px;
  max-height: 94vh;
}

#modal .header {
  background-color: #6b6b6b;
  color: #fff;
  padding: 15px;
  font-weight: 600;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-content: space-between;
  margin: -10px;
}

#modal button {
  margin-left: auto;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
